html,
body {
  background-color: aqua;
  overflow: auto;
  margin: 0;
  padding: 0;
}

h3 {
    display: inline;
}

.logs {
    margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vh {
  height: 100vh;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

.column {
  flex-direction: column;
}

/* MENU */
.nav {
  background-color: cadetblue;
  max-width: 400px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 0px 0px 10px 0px;
}

a {
  font-size: 40px;
  text-decoration: none;
  color: white;
}

a.primary {
  color: silver;
}

a:hover {
  color: deepskyblue;
}

tbody tr:hover {
    background-color: white;
}