html,
body {
  background-color: aqua;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vh {
  height: 100vh;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

.column {
  flex-direction: column;
}